<h2>Book List</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Pages</th>
    <th>Actions</th>
  </tr>
  {{#each books}}
  <tr>
    <td>{{this.id}}</td>
    <td>{{this.title}}</td>
    <td>{{this.pages}}</td>
    <td><span class="actions">
        <a href="/tasks/edit/{{this.id}}"><i class="bi bi-pencil-square"></i></a>
        <form action="/tasks/remove" method="POST">
          <input type="hidden" name="id" value={{this.id}}>
          <button type="submit">
            <i class="bi bi-x-lg"></i>
          </button>
        </form>
      </span>
      </td>
  </tr>
   {{/each}}
</table>